

jaegerTraceUrl: http://localhost:14268/api/traces
jaegerQueryUrl: http://localhost:16686/api/traces

createReplicationSlotSource: >
  [
    {
      "SlotName" : "gotestSlot",
      "Plugin"   : "wal2json",
      "Temporary": false,
      "SlotType" : "logical"
    }
  ]
